{% extends 'explore/base.html' %}
{% load static %}
{% block content %}
    <section id="head-carousel" class='slider owl-carousel'>
        <div class="card">
            <div class="head-carousel-img">
                <img src="/static/explore/art.jpg" alt="">
            </div>
            <p>All</p>
        </div>

        <div class="card">
            <div class="head-carousel-img">
                <img src="/static/explore/art.jpg" alt="">
            </div>
            <p>Milk, Dairy &amp; Eggs</p>
        </div>

        <div class="card">
            <div class="head-carousel-img">
                <img src="/static/explore/art.jpg" alt="">
            </div>
            <p>Fruits &amp; Vegetables</p>
        </div>

        <div class="card">
            <div class="head-carousel-img">
                <img src="/static/explore/art.jpg" alt="">
            </div>
            <p>Meat, Poultry &amp; Fish</p>
        </div>
        
        <div class="card">
            <div class="head-carousel-img">
                <img src="/static/explore/art.jpg" alt="">
            </div>
            <p>Bread, Bakery &amp; Deserts</p>
        </div> 

        <div class="card">
            <div class="head-carousel-img">
                <img src="/static/explore/art.jpg" alt="">
            </div>
            <p>Frozen Food</p>
        </div>
        
        <div class="card">
            <div class="head-carousel-img">
                <img src="/static/explore/art.jpg" alt="">
            </div>
            <p>Food Cupboard</p>
        </div>    

        <div class="card">
            <div class="head-carousel-img">
                <img src="/static/explore/art.jpg" alt="">
            </div>
            <p>Snacks &amp; Sweets</p>
        </div>
        
        <div class="card">
            <div class="head-carousel-img">
                <img src="/static/explore/art.jpg" alt="">
            </div>
            <p>Deli</p>
        </div>
        
        <div class="card">
            <div class="head-carousel-img">
                <img src="/static/explore/art.jpg" alt="">
            </div>
            <p>Beverages &amp; Juice</p>
        </div>
    
        <div class="card">
            <div class="head-carousel-img">
                <img src="/static/explore/art.jpg" alt="">
            </div>
            <p>Wine &amp; Liquor</p>
        </div>
        
        <div class="card">
            <div class="head-carousel-img">
                <img src="/static/explore/art.jpg" alt="">
            </div>
            <p>Platters &amp; Fruit Baskets</p>
        </div>
    </section>

    <form action="#" method="get" id="searchbar" >
        <input type="search" name="search" >
        <button type="submit" id="search-btn"></button>
    </form>

    <section id="explore">
        <div id="popular">
            <div class="explore-carousel-title">
                <h2 class="heading">Popular Near You</h2> 
                <small>View All</small>
            </div>
            <div class="content-carousel">
                <div class="card">
                    <div class="card-img">
                        <img src="/static/explore/art.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <p>FIRST CARD'S CONTENT</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img">
                        <img src="" alt="">
                    </div>
                    <div class="card-content">
                        <p>SECOND CARD'S CONTENT</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img">
                        <img src="" alt="">
                    </div>
                    <div class="card-content">
                        <p>THIRD CARD'S CONTENT</p>
                    </div>
                </div>

            </div>
        </div>

        <div id="timed">
            <div class="explore-carousel-title">
                <h2 class="heading">Under 50 minutes</h2> 
                <small>View All</small>
            </div>
            
            <div class="content-carousel">
                <div class="card">
                    <div class="card-img">
                        <img src="/static/explore/art.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <p>FIRST CARD'S CONTENT</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img">
                        <img src="" alt="">
                    </div>
                    <div class="card-content">
                        <p>SECOND CARD'S CONTENT</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img">
                        <img src="" alt="">
                    </div>
                    <div class="card-content">
                        <p>THIRD CARD'S CONTENT</p>
                    </div>
                </div>

            </div>
        </div>

        <div id="shop-loc">
            <div class="explore-carousel-title">
                <h2 class="heading">Shop Loc</h2> 
                <small>View All</small>
            </div>
            
            <div class="content-carousel">
                <div class="card">
                    <div class="card-img">
                        <img src="/static/explore/art.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <p>FIRST CARD'S CONTENT</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img">
                        <img src="" alt="">
                    </div>
                    <div class="card-content">
                        <p>SECOND CARD'S CONTENT</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img">
                        <img src="" alt="">
                    </div>
                    <div class="card-content">
                        <p>THIRD CARD'S CONTENT</p>
                    </div>
                </div>

            </div>
        </div>

        <div id="shop-com">
            <div class="explore-carousel-title">
                <h2 class="heading">Shop Com</h2> 
                <small>View All</small>
            </div>
            
            <div class="content-carousel">
                <div class="card">
                    <div class="card-img">
                        <img src="/static/explore/art.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <p>FIRST CARD'S CONTENT</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img">
                        <img src="" alt="">
                    </div>
                    <div class="card-content">
                        <p>SECOND CARD'S CONTENT</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img">
                        <img src="" alt="">
                    </div>
                    <div class="card-content">
                        <p>THIRD CARD'S CONTENT</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock content %}
